{% extends 'base.html' %}
{% block content %}

<form method="post">
    <br>
    Query <input type="text" name="title" autocomplete="off" required>
    <!--Year <input type="text" name="year" autocomplete="off" required>-->
    <input class="btn" type="submit" name="submit" value="Search">
</form>

{# 使用 length 过滤器获取 movies 变量的长度      变量|过滤器    （这里是注释语句） #}
<p>{{ movies|length }} Answer Return </p>
<ul class="movie-list">

    {% for movie in movies %}

    <!--<li>{{ movie['title'] }} -相关性得分： {{ movie['year'] }}-->
    <li>{{ movie.title }} - {{ movie.score }}
        <span class="float-right">

            <a class="btn" href="{{ url_for('edit', movie_id=movie.id) }}">Detail</a>
            <form class="inline-form" method="post" action="{{ url_for('delete', movie_id=movie.id) }}">
                <input class="btn" type="submit" name="delete" value="Delete" onclick="return confirm('Are you sure?')">
            </form>

            <a class="imdb" href="https://www.imdb.com/find?q={{ movie.title }}" target="_blank" title="Find this paper on Web">WebSource</a>
        </span>
    </li>
    {% endfor %}


</ul>
<img alt="Walking Totoro from web" class="totoro" src="http://helloflask.com/totoro.gif">
{% endblock %}